@import url("https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: #fff;
}

* {
  font-family: "Radio Canada", sans-serif;
}

.container {
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: #f5f5fd;
}

.calculation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: #f5f5fd;
}
.calculation__h2 {
  color: rgb(22, 22, 22);
  font-weight: 100;
  font-size: 15px;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: #f5f5fd;
  box-shadow: inset 3px 4px 10px #537895;
  border-radius: 5px;
}
.result__h2 {
  color: rgb(22, 22, 22);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1em;
  grid-auto-flow: row;
  grid-template-areas: "calculation calculation calculation calculation" "Result Result Result Result" "clear negative percentage divide" "seven eight nine multiply" "four five six subtract" "one two three plus" "zero zero decimal equal";
}

.calculation {
  grid-area: calculation;
}

.result {
  grid-area: Result;
}

.clear {
  grid-area: clear;
}

.negative {
  grid-area: negative;
}

.percentage {
  grid-area: percentage;
}

.divide {
  grid-area: divide;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.multiply {
  grid-area: multiply;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.subtract {
  grid-area: subtract;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.plus {
  grid-area: plus;
}

.zero {
  grid-area: zero;
}

.decimal {
  grid-area: decimal;
}

.equal {
  grid-area: equal;
}

@media screen and (min-width: 580px) and (max-width: 768px) {
  /* ipad screen */
  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas: "calculation calculation calculation calculation calculation calculation" "Result Result Result Result Result Result" "clear clear clear clear negative percentage" "multiply multiply subtract plus decimal divide" "four five six seven eight nine" "one two three zero equal equal";
  }
}
@media screen and (min-width: 768px) {
  /* laptop screen */
  .container {
    grid-template-columns: repeat(8, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas: "calculation calculation calculation calculation calculation calculation calculation calculation" "Result Result Result Result Result Result Result Result" "clear negative percentage divide multiply subtract plus decimal" "two three four five six seven eight nine" "one zero equal equal equal equal equal equal";
  }
}
.button {
  width: 100%;
  height: 15vh;
  border: 1px solid #fb8805;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: #f5f5fd;
  font-size: 20px;
  border-radius: 30px;
  box-shadow: 3px 4px 10px #537895;
}
.button-number {
  background-image: linear-gradient(to top, rgba(4, 41, 58, 0.5568627451) 0%, rgba(9, 101, 143, 0.3019607843) 100%);
  color: rgb(22, 22, 22);
}/*# sourceMappingURL=styles.css.map */