@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');

$primary-font: "Radio Canada", sans-serif;
$primary-colour: #f5f5fd;
$secondary-colour: #fb8805;
$tertiary-colour: #537895;
$font-dark: rgb(22, 22, 22);
$primary-gradient: linear-gradient(to top, #09203f 0%, #537895 100%);
$secondary-gradient: linear-gradient(-20deg, #2a2135 0%, #537895  100%);
$mobile-font-size-buttons: 20px;