@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;

* {
    font-family: $primary-font;
}

.container {
    @include horizontalPadding();
    background-color: $primary-colour;
}

.calculation {
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    @include horizontalPadding();
    background-color: $primary-colour;
    &__h2 {
        color: $font-dark;
        font-weight: 100;
        font-size: 15px;
    }
}

.result {
    @include flexEnd();
    @include horizontalPadding();
    background-color: $primary-colour;
    box-shadow: inset 3px 4px 10px $tertiary-colour;
    border-radius: 5px;
    &__h2 {
        color: $font-dark;
    }
}