@use "variables" as *;
@use "./mixins" as *;

* {
    font-family: $primary-font;
}

.container {
    @include horizontalPadding();
    background-color: $primary-colour;
}

.calculation {
    @include flexEnd();
    @include horizontalPadding();
    padding-right: 4vh;
    background-color: $primary-colour;
    &__h2 {
        color: $font-dark;
    }
}

.result {
    @include flexEnd();
    @include horizontalPadding();
    background-color: $primary-colour;
    margin: 3vh;
    box-shadow: inset 3px 4px 10px $tertiary-colour;
    border-radius: 5px;
    &__h2 {
        color: $font-dark;
    }
}