@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;


.button {
    width: 100%;
    height: 20vh;
    border: 1px solid $secondary-colour;
    background-image: $primary-gradient;
    color: $primary-colour;
    font-size: $mobile-font-size-buttons;
    &--operation {
        background-image: $secondary-gradient;
    }

}