@use "./abstracts/variables" as *;
@use "./abstracts/mixins" as *;


.button {
    width: 100%;
    height: 15vh;
    border: 1px solid $secondary-colour;
    background-image: $primary-gradient;
    color: $primary-colour;
    font-size: $mobile-font-size-buttons;
    border-radius: 30px;
    box-shadow: 3px 4px 10px $tertiary-colour;
    &-number {
        background-image: $secondary-gradient;
        color: $font-dark;
    }

}